@charset "UTF-8";

/*
Cores:
Marelo: #E3B505
Vinho: #2D0605

*/

*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}
:root{
    --marelo: #E3B505;
    --vinho: #2D0605;
}

body, html{
    background-image: linear-gradient(to top, #2D0605, #E3B505);
    background-color: var(--vinho);
    height: 100vh;
    width: 100vw;
    
}
main{
    position: relative;
    height: 100vh;
    width: 100vw;
}
section#login{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    transition: width 0.3s, height 0.3s;
    transition-timing-function: ease;


    background-color: white;
    width: 260px;
    height: 500px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.452);
}
section#login > div#img {
    display: block;
    background: var(--vinho) url(../imagens/pattern.jpg) no-repeat;
    background-size:cover ;
    background-position:left bottom ;
    height: 200px;

}
section#login > div#form{
    display: block;
    padding: 10px;
}
div#form > h1{
    text-align: center;
    margin-bottom: 10px;


}
div#form > p {
    font-size: 0.8em;
}
form > div.campo{
    background-color: rgb(247, 217, 178);
    width: 100%;
    border-radius: 10px;
}
form > input[type=submit] {
    display: block;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color: burlywood;
    border: none;
    border-radius: 5px;
}

form > input[type=submit]:hover{
    background-color: #E3B505;
}

form > a.botao{
    display: block;
    text-align: center;
    font-size: 1em;
    width: 100%;
    height: 40px;
    padding-top: 5px;
    margin-top: 5px;
    text-decoration: none;
    color: black;
    background-color: antiquewhite;
    border: 1px solid #E3B505;
    border-radius: 5px;
}

form > a.botao:hover{
    background-color: var(--marelo);
}
form > a.botao > i {
    font-size: 1.2em;
}